// Home Content

.home {
  

  .intro {
    
    .main-header-img{
      display: grid;
      margin: 0px;
      width: 100%;
      padding: 10px 10px 10px 10px;
    /*  grid-template-rows: repeat(3,auto); */
      grid-gap: 5px;
      border-radius: 20px;
     
    }
   

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    
    @media @mobile {
      flex-direction: column-reverse;
      margin: 0 auto;
      padding: 20px 15px;
    }

    .walk-text {
      width: 50%;
      @media @mobile {
        width: 100%;
        padding-top: 20px;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }
      
      
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;
      //max-width: 100%;

      @media @mobile {
        width: 100%;
        margin: 0 auto;
      }

      
      img {

        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
    
    
  }
   // added mixins to my button
  .btn{
    .button(100%, 10vh, @btn-bg-color, @wild-sand, 2rem);
    
    animation-name: spin;
    animation-duration: 8s;
    

     @media @mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      .button(100%, 10vh, @btn-bg-color, @wild-sand, 2rem);
      border-radius: 5px;
      
      
    }
  }

  @media @mobile {
    //width: 100%;
   // margin: 0 auto;
    //padding-top: 20px;
  }

  }
  // added animation
  @keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
  
// home


// media queries start here
@media @mobile{
  
    
  .space-images #launch-img{
    //max-width: 500px;
    /*max-height: 500px; */
    width: 100%;
    /*height: 100%; */
    margin: 10px;
    padding: 0;
    
    

  }
  
  .space-images :nth-last-child(1){
    display: none;
  }
  .space-images :nth-child(2){
    display: none;
  }
  .walk-text{

    
   // min-width: 100%;
    
   

    h3 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 0px;
    }
     

    
  }
  
   } 


