// Mixins Here

.font-nav-and-h1{
    font-family: 'Kenia', cursive;
}

.button{
    
     width: 100%;
     height: 10vh;
     color: white;
     background-color: darkgreen;
     border-radius: 5%;
     transition: all .5s ease-in;
     cursor: pointer; 
}