// Navigation code here

nav {
    text-align: center;
    padding: 5px 5px 0px 5px;
    

  a{
    
    padding: 5px 5px 0px 5px;
    font-family: @font-nav-and-h1; 
    font-size: 15px; 
    text-decoration: none;
    transition: all .7s ease-in-out;
    cursor: pointer;
    color: black;
    
  } 
  & :hover{
      
      background-color: black;
      color: yellowgreen;
      border: 3px groove yellow;
      transform: translatey(30px); 
}
}
h1{
    text-align: center;
    font-family: @font-nav-and-h1;
    font-size: 35px;
    font-weight: bold;
    padding: 5px 5px 10px 5px;
}


